body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #13181e;
    color: #000000; 
}
        main {
    padding: 20px;
    background-color: #333;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    .cart-item {
        border: 1px solid #ccc;
        padding: 16px;
        text-align: center;
        width: 150px;
        background-color: #ffffff;
    }
    section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
}

section h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
}
.cart-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

#checkout-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#clear-cart {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#checkout-btn:hover {
    background-color: #218838;
}