.contacts {
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contacts__section {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(66, 66, 222, 0.41);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacts__title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contacts__info {
    margin-bottom: 20px;
}

.contacts__text {
    font-size: 1.1rem;
    margin: 10px 0;
}

.contacts__map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
