.reviews__section {
    margin-top: 20px;
}
.reviews__title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #f9f9f9;
}

.reviews__list {
    margin-top: 20px;
}

.review {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review__name {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.review__comment {
    margin: 5px 0;
}

.review__rating {
    margin: 5px 0;
}

.review__date {
    color: #777;
    font-size: 0.9em;
}
