.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #13181e;
    color: #000000;
}
.main {
    padding: 20px;
    background-color: #333;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.reviews__section {
    margin-top: 20px;
}
.reviews__title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #f9f9f9;
}

.reviews__list {
    margin-top: 20px;
}

.review {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review__name {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.review__comment {
    margin: 5px 0;
}

.review__rating {
    margin: 5px 0;
}

.review__date {
    color: #777;
    font-size: 0.9em;
}

.nav {
    text-align: center;
}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav__item {
    display: inline;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

