body {
    font-family: Arial, sans-serif;
    background-color: #111144;
    color: #ffffff;
}

.main {
    flex: auto;
}

.header {
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #090926;
    margin-bottom: 40px;
    box-shadow: 0 22px 30px 0 hsl(256deg 74.9% 27.82%)
}

.nav {
    text-align: center;
}

.nav__item {
    display: inline;
    margin-right: 15px;
}

.nav__link {
    color: #fff;
    font-weight: bold;
}

.footer {
    background-color: #2a2a8c;
    text-align: center;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-card__button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: auto;
}

.product-card__button:hover {
    background-color: #218838;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-height:500px;
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px 15px;
    color: white;
    border-radius: 15px;
    transition: scale 0.3s;
}

.btn--theme-primary {
    background: hsl(240deg 54.15% 49.51%) linear-gradient(180deg, hsl(0deg 0% 0% / 73%) 0%, hsl(240deg 29.2% 28.18% / 41%) 100%) no-repeat;
    box-shadow: 1px 2px 8px rgb(159 141 193 / 56%);
}

.btn--theme-primary:hover {
    scale: 1.06;
}

.btn--theme-accent {
    background: #4CAF50;
}

.btn--theme-accent:hover {
    scale: 1.06;
}

.title {
    font-size: 26px;
    line-height: 30px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: #2a2a8c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .search {
        flex-direction: column;
        gap: 10px;
    }
/*// todo - избавиться от стилизации по тегам*/
    .search input,
    .search button {
        width: 100%;
        padding: 12px;
    }
}

.footer__text {
    padding: 30px;
}
